# Node.js
node_modules/
npm-debug.log

# Environment variables
.env
src/config/config.json  # Contains sensitive DB credentials

# IDE/Editor
.vscode/
.idea/

# Sequelize
.sequelizerc  # Since paths may differ across environments

# System files
.DS_Store
Thumbs.db